! Custom
! Original theme https://github.com/nathanbuchar/atom-one-dark-terminal
*.foreground:    #ABB2BF
*.background:    #1E2127
*.cursorColor:   #5C6370
*.highlightColor:#3A3F4B

! Negro y gris
*.color0:        #1E2127
*.color8:        #5C6370
! Rojos
*.color1:        #E06C75
*.color9:        #E06C75
! Verde
*.color2:        #98C379
*.color10:       #98C379
! Amarillo
*.color3:        #D19A66
*.color11:       #D19A66
! Azul
*.color4:        #61AFEF
*.color12:       #61AFEF
! Magenta
*.color5:        #C678DD
*.color13:       #C678DD
! Cyan
*.color6:        #56B6C2
*.color14:       #56B6C2
! Blanco
*.color7:        #ABB2BF
*.color15:       #FFFFFF

xterm*faceName:     DejaVu Sans Mono
xterm*faceSize:     15
xterm*selectToClipboard: true


rofi.color-window: #282c34, #282c34, #61afef
rofi.color-normal: #282c34, #e5c07b, #282c34, #009999, #e5c07b
rofi.color-active: #282c34, #98c379, #282c34, #009999, #e5c07b
rofi.color-urgent: #000000, #ffffff, #000000, #999999, #ffffff
